name: Yarn Test and Publish

on:
  push:
    branches:
      - "*"
    tags:
      - "v*"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run tests
        run: yarn test

  build-and-publish:
    needs: test
    runs-on: ubuntu-latest
    if: contains(github.ref, 'refs/tags')

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build and bundle
        run: yarn build

      - name: Publish to NPM
        run: yarn publish --non-interactive
        env:
          YARN_REGISTRY_TOKEN: ${{ secrets.NPM_TOKEN }}
